Repository afrittoli/arpeggio: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, eslint, typescript, frontend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting and formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies:
          - fastapi
          - sqlalchemy
          - pydantic
        args: [--ignore-missing-imports]

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && PYTHONPATH=. pytest'
        language: system
        files: ^backend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: bash -c 'cd frontend && npx tsc -p tsconfig.app.json --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

Disable BPM recording until a scale is marked as practiced
  frontend/src/App.css
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/PracticePage.test.tsx
Due: eslint, typescript, frontend-tests

Remove the extra hint
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/PracticePage.test.tsx
Due: eslint, typescript, frontend-tests

Add custom BpmSlider component for precise metronome control
  frontend/src/App.css
  frontend/src/components/BpmSlider.tsx
  frontend/src/components/Metronome.tsx
  frontend/src/tests/BpmSlider.test.tsx
Due: eslint, typescript, frontend-tests

Fix metronome to produce consistent clicks at all BPM values
  frontend/src/hooks/useMetronome.ts
  frontend/src/tests/useMetronome.test.ts
Due: eslint, typescript, frontend-tests

WIP: Articulation mode (#31) + Selection sets (#41) - mixed changes
  backend/main.py
  backend/models.py
  backend/routes/arpeggios.py
  backend/routes/practice.py
  backend/routes/scales.py
  backend/routes/selection_sets.py
  backend/services/migrations.py
  backend/tests/test_selection_sets.py
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/tests/SelectionSets.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Fix misaligned cells in practice history
  frontend/src/App.css
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Fix metronome distortion at high BPM by smoothing gain envelope and improving scheduling
  frontend/src/hooks/useMetronome.ts
Due: eslint, typescript, frontend-tests

Add per-item articulation mode for scales and arpeggios
  backend/models.py
  backend/routes/arpeggios.py
  backend/routes/scales.py
  backend/services/migrations.py
  backend/services/selector.py
  backend/tests/test_articulation_mode.py
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/api/client.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Add named selection sets for scales and arpeggios (#41)
  backend/main.py
  backend/models.py
  backend/routes/practice.py
  backend/routes/selection_sets.py
  backend/services/migrations.py
  backend/tests/test_selection_sets.py
  frontend/src/App.css
  frontend/src/api/client.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Fix metronome audio reliability with AudioContext state management (#35)
  frontend/src/App.css
  frontend/src/components/Metronome.tsx
  frontend/src/hooks/useMetronome.ts
  frontend/src/tests/Metronome.test.tsx
  frontend/src/tests/useMetronome.test.ts
Due: eslint, typescript, frontend-tests

Refactor metronome and BPM handling for unit consistency
  backend/tests/test_scales.py
  frontend/src/App.css
  frontend/src/components/BpmInput.tsx
  frontend/src/components/Metronome.tsx
  frontend/src/hooks/useMetronome.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/BpmInput.test.tsx
  frontend/src/tests/useMetronome.test.ts
Due: backend-tests, eslint, typescript, frontend-tests

Add confirmation guard for bulk actions in repertoire config
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
Due: eslint, typescript, frontend-tests

Add the ability to mix sound
  backend/models.py
  backend/services/migrations.py
  frontend/src/components/Metronome.tsx
  frontend/src/hooks/useAudioContext.ts
  frontend/src/hooks/useDrone.ts
  frontend/src/hooks/useMetronome.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/useMetronome.test.ts
  frontend/src/types/index.ts
  frontend/src/utils/audio.ts
Due: backend-tests, eslint, typescript, frontend-tests

fix(frontend): resolve chip background color update issue on Safari/iPad
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

fix(frontend): fix chip repaint on Safari/iPadOS by removing GPU hints
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

fix(frontend): use appearance:none to fix chip background on iOS Safari
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Fix slurred/separate ratio to match configured percentage (#27)
  backend/services/selector.py
  backend/tests/test_weekly_focus.py
Due: backend-tests

Add per-item articulation mode for scales and arpeggios
  backend/models.py
  backend/routes/arpeggios.py
  backend/routes/scales.py
  backend/services/migrations.py
  backend/services/selector.py
  backend/tests/test_articulation_mode.py
  frontend/src/App.css
  frontend/src/api/client.ts
  frontend/src/pages/ConfigPage.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Address PR #63 review: cycling UI for articulation mode
  backend/services/migrations.py
  backend/tests/test_articulation_mode.py
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/PracticePage.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Fix migration order: run migrations before querying ORM models
  backend/services/initializer.py
Due: backend-tests
