Repository afrittoli/arpeggio: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, eslint, typescript, frontend-tests

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (linting and formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies:
          - fastapi
          - sqlalchemy
          - pydantic
        args: [--ignore-missing-imports]

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: backend-tests
        name: backend-tests
        entry: bash -c 'cd backend && PYTHONPATH=. pytest'
        language: system
        files: ^backend/
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: typescript
        name: typescript
        entry: bash -c 'cd frontend && npx tsc -p tsconfig.app.json --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-tests
        name: frontend-tests
        entry: bash -c 'cd frontend && npm run test'
        language: system
        files: ^frontend/
        pass_filenames: false

# Configuration for specific tools
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autoupdate_commit_msg: |
    [pre-commit.ci] pre-commit autoupdate

Fix missing Mock type import in PracticePage tests
  frontend/src/tests/PracticePage.test.tsx
Due: eslint, typescript, frontend-tests

Improve Weekly Focus feature with slot allocation and UI enhancements
  backend/services/selector.py
  backend/tests/test_weekly_focus.py
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/tests/ConfigPage.test.tsx
Due: backend-tests, eslint, typescript, frontend-tests

Clean up Weekly Focus feature and remove debug statements
  backend/routes/practice.py
  backend/services/selector.py
  backend/tests/test_weekly_focus.py
  frontend/src/App.css
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/PracticePage.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Increase practice item gradient opacity for better visibility
  frontend/src/App.css
Due: frontend-tests

Add Weekly Focus feature with backend selection logic, UI, and tests
  backend/models.py
  backend/services/selector.py
  backend/tests/test_weekly_focus.py
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
  frontend/src/tests/ConfigPage.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Fix pre-commit typescript hook to use explicit tsconfig
  .pre-commit-config.yaml
Due: none

Combine Scales/Arpeggios tabs with chip-based filters (#44)
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
Due: eslint, typescript, frontend-tests

Improve filter layout with organized rows and separate bulk actions
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
Due: eslint, typescript, frontend-tests

Refine Config page styling: rename tab, add chip colors, center layout
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
Due: eslint, typescript, frontend-tests

Add scale/arpeggio category chips to weekly focus config (#47)
  backend/models.py
  backend/services/selector.py
  frontend/src/pages/ConfigPage.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Add quaver/crotchet BPM unit setting for scales and arpeggios (#33)
  backend/models.py
  frontend/src/pages/ConfigPage.tsx
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/PracticePage.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Improve BPM unit UX: toggle chips, better defaults
  backend/models.py
  frontend/src/pages/ConfigPage.tsx
  frontend/src/tests/PracticePage.test.tsx
Due: backend-tests, eslint, typescript, frontend-tests

Replace BPM unit chips with sliding toggle switch
  frontend/src/App.css
  frontend/src/pages/ConfigPage.tsx
Due: eslint, typescript, frontend-tests

Add BPM unit toggle to Metronome, fix padding
  frontend/src/App.css
  frontend/src/components/Metronome.tsx
Due: eslint, typescript, frontend-tests

Improve Metronome layout: inline toggle, dynamic slider
  frontend/src/App.css
  frontend/src/components/Metronome.tsx
Due: eslint, typescript, frontend-tests

Fix BPM min/max in crotchet mode, reorder controls
  frontend/src/components/BpmInput.tsx
  frontend/src/components/Metronome.tsx
Due: eslint, typescript, frontend-tests

Add dedicated Practice History page with filtering and sorting
  backend/routes/practice.py
  backend/services/selector.py
  backend/tests/test_practice.py
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/pages/HistoryPage.tsx
  frontend/src/pages/PracticePage.tsx
  frontend/src/tests/HistoryPage.test.tsx
  frontend/src/types/index.ts
Due: backend-tests, eslint, typescript, frontend-tests

Fix History page UI: correct likelihood bar width and compact table columns
  frontend/src/App.css
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Improve History table: natural name width and relative likelihood bars
  frontend/src/App.css
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Add dynamic text contrast for likelihood bar
  frontend/src/App.css
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Fix History table layout and add all four row colors
  frontend/src/App.css
  frontend/src/pages/HistoryPage.tsx
Due: eslint, typescript, frontend-tests

Make History table compact with max-content width
  frontend/src/App.css
Due: frontend-tests

Match History page layout to repertoire page
  frontend/src/App.css
Due: frontend-tests
